.git
.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.run
.deploy
staticfiles
htmlcov
.coverage*
**/.env*
**/*.env
**/*.pem
**/*.key
**/*.p12
**/*.sql
**/*.dump
**/*.tar.gz
**/db.sqlite3
**/celerybeat-schedule*
node_modules
tests
