DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=dazzy_test
POSTGRES_USER=dazzy
POSTGRES_PASSWORD=
POSTGRES_SSLMODE=prefer
POSTGRES_CONN_MAX_AGE=60
DJANGO_DB_ENGINE=django.contrib.gis.db.backends.postgis

REDIS_HOST=
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=false
REDIS_CACHE_DB=0
REDIS_CELERY_DB=1
REDIS_CHANNELS_DB=2

COS_REGION=ap-beijing
COS_BUCKET=
COS_BASE_URL=
COS_PUBLIC_PREFIX=dazzy-test/public/
COS_PRIVATE_PREFIX=dazzy-test/private/
COS_SIGNED_PUBLIC_URL_TTL=3600
COS_SIGNED_PRIVATE_URL_TTL=300

TENCENT_CLOUD_SECRET_ID=
TENCENT_CLOUD_SECRET_KEY=
